@mixin image-icon($img) {
	background: url($img) no-repeat center center;
	width: image-width($img);
	height: image-height($img);
	display: inline-block;
	vertical-align: inherit;
}

@mixin my-opacity($value){
    opacity: $value;
    filter: alpha(opacity=100*$value);
}

@mixin flex-center(){
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}
@mixin my-transition($time){
	$delay: 0s !default;
	-webkit-transition: all $time ease-in-out $delay;
	transition: all $time ease-in-out $delay;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}